body{
  background-color: black;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input{
  height: 30px;
    border-radius: 9px;
    width: 246px;
    outline: none;
    font-size: 16px;
    padding: 3px 10px;
    background-color: white;
    
}
button.input_button {
  width: 43px;
  height: 35px;
  border-radius: 20%;
  font-size: 23px;
  color: white;
  background-color: #d99a9a;
  border: none;
  margin-left: 20px;
}
.input_button:hover{
  background-color: #86d68c;
  color: black;
}
.container_list{
  margin-bottom: 10px;
  margin-top: 10px;
}
.list_item{
  border: 2px solid gray;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    list-style: none;
    padding: 3px 10px;
    font-size: 18px;
    color: white;

}
.icon_delete:hover{
  color: red;
}